<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> main </title>
    <link rel="stylesheet" href="{% static 'css/index_master.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>

  <body>

    <!-- First slide -->
    <div class="first" id="first">

<div class="bb"></div>
<div class="container-fluid ">
  <div class="row h-100">
    <div id="col" class="  col-lg-4 col-md-0"></div>
  <div id="col" class="  col-lg-4 col-md-12 col-sm-12 	 h-100  ">
<div class="logo">U</div>
  <pre class="slogan">
    Come for what you love
   Stay for what you discover
</pre>
<button id="Signupbtn" type="button" class="rami btn btn-primary btn-lg btn-block  btn-light">
    <span>Let's get started !</span>
</button>

<div class="signup" id="signup">

<form class="form" method="post" >
  {% csrf_token %}
  {% if form.username.errors %}
    <ul>
    {% for error in form.username.errors %}
        <li style="color:white"><strong>{{ error|escape }}</strong></li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if form.password1.errors %}
    <ul>
    {% for error in form.password1.errors %}
        <li style="color:white"><strong>{{ error|escape }}</strong></li>
    {% endfor %}
  </ul>
  {% endif %}{% if form.password2.errors %}
    <ul>
    {% for error in form.password2.errors %}
        <li style="color:white"><strong>{{ error|escape }}</strong></li>
    {% endfor %}
  </ul>
  {% endif %}{% if form.email.errors %}
    <ul>
    {% for error in form.email.errors %}
        <li style="color:white"><strong>{{ error|escape }}</strong></li>
    {% endfor %}
  </ul>
  {% endif %}

  <div class="input-group mb-2 mr-sm-2">
    <div class="input-group-prepend">
      <div class="input-group-text">@</div>
    </div>
    <input type="text" class="form-control" id="id_username" name='username' placeholder="Username">
  </div>
  <div class="input-group mb-2 mr-sm-2">
    <div class="input-group-prepend">
      <div class="input-group-text">#</div>
    </div>
    <input type="password" class="form-control" id="id_password1" name='password1' placeholder="*********">
  </div><div class="input-group mb-2 mr-sm-2">
    <div class="input-group-prepend">
      <div class="input-group-text">#</div>
    </div>
    <input type="password" class="form-control" id="id_password2" name='password2' placeholder="*********">
  </div>
  <div class="input-group mb-2 mr-sm-2">
    <div class="input-group-prepend">
      <div class="input-group-text">E</div>
    </div>
    <input type="email" class="form-control" id="id_email" name="email" placeholder="example@example.com">
  </div>
<br>

  <input type="submit" class="btn btn-primary mb-2 btn-light" value='Sign Up' name='signup'>
  <button  style="color:white;" type="button" id="back2"class="btn btn-link btn-sm">Back</button>
</form>
</div>
<br>
<button type="button"  id="loginbtn" class=" btn btn-primary btn-lg btn-block  btn-light">
  <span>Log in</span>
</button>
<div class="signin" id="signin">
<form class="form" method="post">
  {% csrf_token %}

  <div class="input-group mb-2 mr-sm-2">
    <div class="input-group-prepend">
      <div class="input-group-text">@</div>
    </div>
    <input type="text" name="username" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Username">
  </div>
  <input type="password" name="password"class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="*****">
  <input style="margin:auto;" type="submit" class="btn btn-primary mb-2 btn-light" value='Login' name='login'>
  <button  style="color:white;" type="button" id="back"class="btn btn-link btn-sm">Back</button>

</form>
  </div>
  <div class="op" id="op">

<h6>OR</h6>
<a href="{% url 'social:begin' 'google-oauth2' %}"><i class="fab fa-google"></i></a>

</div>
</div>
    <div id="col" class="  col-lg-4 col-md-0 ">
     </div>
    <div class="whatisu fixed-bottom" id ="whatisu">  what is u ?!    </div>
</div>
</div>
</div>
<!-- First slide end -->


<!-- Second slide -->
<div class="second"  id="second">
<div class="myblk" id="myblk">
  <i class="fas fa-arrow-up" id="up"></i>
<br><br><br><br>
<div class="container-fluied">
  <div class="logo">U</div>
  <span >
    <pre class="added">U is so easy to use that it’s
   hard to explain.
                </pre
</span>

<p class="par">We made it really, really simple for people to make a blog and put whatever <br>
 they want on it. Stories, photos, GIFs, TV shows, links, quips, dumb jokes,<br>
 smart jokes, Spotify tracks, mp3s, videos, fashion, art, deep stuff.
</p>
<br><br><br>

</div>
</div>
</div>

<!-- Second slide end -->

<script type="text/javascript">

var a="{{login_fail}}";
var b="{{su_fail}}";
if(a=="True"){
  document.getElementById('loginbtn').style.display="none";
  document.getElementById('signin').classList.remove("signin");
  document.getElementById('Signupbtn').style.display="none";
}
else if(b=="True"){
  document.getElementById('Signupbtn').style.display="none";
  document.getElementById('signup').style.display="block";
  document.getElementById('loginbtn').style.display="none";
  document.getElementById('op').style.display="none";
}


  document.getElementById('whatisu').addEventListener('click', function() {
    setTimeout(function(){
    document.getElementById('first').classList.add('hide');
    document.getElementById('second').classList.remove('hides');
    document.getElementById('second').classList.remove('hide');
    document.getElementById('second').classList.remove('view');


  }  , 1000);

    document.getElementById('first').classList.remove('show-first');
    document.getElementById('first').classList.add('hide-first');

    setTimeout(function(){
      document.getElementById('first').classList.add('hide');
    }  , 1000);

    setTimeout(function(){
      document.getElementById('second').classList.add('show');
    }  , 1700);

  });

  document.getElementById('up').addEventListener('click', function() {

    setTimeout(function(){
      document.getElementById('first').classList.remove('hide-first');
    }  , 1500);

    document.getElementById('second').classList.add('view');

    setTimeout(function(){
      document.getElementById('second').classList.add('hides');
    }  , 1000);


    setTimeout(function(){
      document.getElementById('first').classList.remove('hide');
    }  , 1500);

    setTimeout(function(){
         document.getElementById('second').classList.add('hide');
     }  , 1500);

    setTimeout(function(){
            document.getElementById('first').classList.add('show-first');
     }  , 1500);

  });

  document.getElementById('loginbtn').addEventListener('click', function() {
    document.getElementById('Signupbtn').style.display="none";
    document.getElementById('loginbtn').style.display="none";
    document.getElementById('signin').classList.remove("signin");


});

document.getElementById('Signupbtn').addEventListener('click', function() {

  document.getElementById('Signupbtn').style.display="none";
  document.getElementById('signup').style.display="block";
  document.getElementById('loginbtn').style.display="none";
  document.getElementById('op').style.display="none";


});

document.getElementById('back').addEventListener('click', function() {
  document.getElementById('Signupbtn').style.display="block";
  document.getElementById('loginbtn').style.display="block";
  document.getElementById('signin').classList.add("signin");

});

document.getElementById('back2').addEventListener('click', function() {
  document.getElementById('Signupbtn').style.display="block";
  document.getElementById('signup').style.display="none";
  document.getElementById('loginbtn').style.display="block";
  document.getElementById('op').style.display="block";


});






</script>

  </body>
</html>
