{% extends "categories/category_base.html" %}

{% block content %}
  <div class="container" >
    <div class="row" style=" margin-top: 8em;">
        {% for cat in category_list %}
        <div class="col-4 my-2" id="{{cat.id}}">
          <div class="card "  style=" height: 15rem;  Background-image:url({{cat.pic.url}}) ; Background-size:cover;" >
            <a style="width:100%;height:100vh; text-align: center; color:white;Background:black; opacity:0.4;" href="{% url 'categories:category_blogs' name=cat.slug %}">
              <h1 style="padding:25%;">{{cat.name}}</h1>
        </a>

          </div>
        </div>
        {% endfor %}
    </div>
  </div>

{% endblock %}
{#
  <div class="card bg-dark text-white" style=" margin-bottom: 10px; width: 100%;">
    <img class="card-img" src="{{cat.pic.url}}" alt="Card image">
    <div class=class="card-img-overlay" >
      <h5 style="font-size:1em;" class="card-title">{{cat.name}}</h5>
      <button  id="{{user.username}}'"name="{{cat.id}}" onclick="add(this)" type="button" class="btn btn-light">Subscribe</button>
    </div>
  </div>
</div> #}
