{% extends "categories/category_base.html" %}

{% load static %}

{% block color %}
  <link rel="stylesheet" href="{% static "css/grey.css" %}">
{% endblock %}

{% block content %}

<div class="container">

      <div class="Profile_Info p-5 mt-3">
          <div class="row">
              <div class="col-2">
                {% if cat.profile_pic %}
                <img src="{% static "media/{{cat.profile_pic}}" %}" alt="">
                {% else %}
                <img src="{% static "css/uicon.png" %}" alt="">
                {% endif %}
              </div>
              <div class="col-4">
                <p>{{cat.name}}</p>
              </div>
              <div class="col-6">
                <p>{{cat.info}}</p>
                {% if is_subscribed %}
                  <span class="sub-unsub">
                    <a href="{% url 'categotries:unsubscribe' name=cat.slug %}" class="unsub-btn p-2">Subscribed</a>
                  </span>
                  {% else %}
                  <span class="sub-unsub">
                    <a href="{% url 'categotries:subscribe' name=cat.slug %}" class="sub-btn p-2">Subscribe</a>
                  </span>
                {% endif %}
              </div>
          </div>
</div>
      <div class="container">
        <div class="row">

      <div class="col-md-8 col-sm-12 posts ">
        {% for blog in blog_list %}
          {% include "blogs/_blog.html" %}
        {% endfor %}
      </div>
      <div class="col-md-4 col-sm-0" >
        {% if trending.count > 2 %}
          {% for blog in trending|slice:":3" %}
          <div class="mycard card mt-5" style="width: 100%;">
            <div class="card-body">
              <h5 class="card-title">{{blog.title}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{blog.time_written|timesince}}</h6>
              <p class="card-text">{{blog.content|safe|truncatechars_html:50}}</p>
              <a href="{% url 'blogs:details' pk=blog.pk %}" class="card-link">See more</a>
            </div>
          </div>
          {% endfor %}
        {% else %}
          {% for blog in trending %}
          <div class="mycard card mt-5" style="width: 100%;">
            <div class="card-body">
              <h5 class="card-title">{{blog.title}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{blog.time_written|timesince}}</h6>
              <p class="card-text">{{blog.content|safe|truncatechars_html:50}}</p>
              <a href="{% url 'blogs:details' pk=blog.pk %}" class="card-link">See more</a>
            </div>
          </div>
          {% endfor %}
        {% endif %}
    </div>
  </div>
</div>
<script type="text/javascript">
    sub_btn=$(".sub-btn")
    unsub_btn=$(".unsub-btn")

    sub_btn.mouseenter(function(event){
      sub_btn.css('color',"white")
      sub_btn.css("background-color","#3178e1")
    })

    sub_btn.mouseleave(function(event){
      sub_btn.css('color',"#0000EE")
      sub_btn.css("background-color","white")
    })

    unsub_btn.mouseenter(function(event){
      unsub_btn.css('color',"white")
      unsub_btn.css("background-color","#3178e1")
      unsub_btn.text("Unsubscribe")
    })

    unsub_btn.mouseleave(function(event){
      unsub_btn.css('color',"#0000EE")
      unsub_btn.css("background-color","white")
      unsub_btn.text("Subscribed")
    })

</script>
{% endblock %}
