 body{
  font-family: 'Open Sans', sans-serif;

}

.btn{
  margin-left: 10px;
}

.fixed{
  position: fixed;
  margin-top: 10vh;
}

.mycard {
  background:linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1) ), url(bg.jpg);
  background-position: center;
  background-size: contain;
  font-family: 'Open Sans', sans-serif;
  margin: auto;
  margin-top: 10px;
  color: white;
}

.trend{
 margin-top: 10px;
 color: grey;
}

.post-card .card-body{
  border-left: 2px solid grey;
}

.posts{
  margin-top: 70px;
}

.post-images{
  float:right; width:50px;  height:50px; opacity:1;
  border:white;
  margin-left: -25px;
}

.post-card{
  margin-top: 20px;
  background-color: rgb(240,240,240);

}

.card-title{
}

.writer{
width: 30px;
margin-bottom: 10px;
display: inline;
text-decoration: none;

}

.postedby{
  font-size: 0.7em;
  margin-left: 20px;
}

.userimage{
width:50px;
height: 50px;
border-radius: 50%;
margin-left: calc(50% - 25px);
}
.userspace {

  padding: 10px 16px;
  margin-top: 80px;
}

.sticky {
  position: fixed;
  margin-top: 50px;
  top: 0;
  width: 100%
}
.sticky + .content {
  padding-top: 102px;
}
