{% load static %}

{# AJAX #}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<div class="post-card card ">
  <div class="card-body">
  <a href="{% url 'categotries:category_blogs' name=blog.category.name %}">
    {% if blog.author.uer.profile_pic %}
    <img class="writer"src="{{blog.author.uer.profile_pic.url}}" alt="">
    {% else %}
    <img class="writer" src="{% static "css/uicon.png" %}" alt="">
    {% endif %}
    {{blog.category.name}}
  </a>
  <span class="postedby">
    Posted by u/{{blog.author.username}} {{blog.time_written|timesince}}
  </span>
  <span style="float:right;font-size:1.4em;">
     <i  class="fas fa-grin-hearts" id="{{blog.id}}_yay"></i>
        <span id="points-cout" id="nay">{{blog.points}}</span>
     <i class="fas fa-sad-cry"></i>
  </span>
  <h5>{{blog.title}}</h5>
  <br>
  <p>{{blog.content|safe|truncatechars_html:450}}</p>
  <a href="{% url 'blogs:details' pk=blog.pk %}" class="btn  btn-outline-secondary">see more</a>

  <span class="images">
    {% if blog.blog_images.count < 4 %}
    {% for image in blog.blog_images.all %}
    <img class="post-images"src="{{image.img.url}}" alt="no image">
    {% endfor %}
    {% else %}
    {% for image in blog.blog_images.all|slice:':3' %}
    <img class="post-images"src="{{image.img.url}}" alt="no image">
    {% endfor %}
    <img class="post-images" src="" alt="">
    {% endif %}


  </span>
  </div>
</div>

<script type="text/javascript">

  yayBtn=$("#{{blog.id}}_yay")
  yayBtn.click(function(){
    $.ajax({
        url:'{% url "blogs:yay" %}',
        method : "GET",
        data : {
          'blog_id':{{blog.id}},
        },
        datatype : "json",
        success : function(){
          yayBtn.css("color","orange");
        },
    })
  })

</script>
