{% load static %}

{# JS #}
<script type="text/javascript">

  function yay(event){
    id=$(event.target).attr("id").slice("_")[0]
    console.log("yayed "+id);
    $.ajax({
        url:'{% url "blogs:yay" %}',
        method : "GET",
        data : {
          "pk":id,
        },
        success : function(data){
          $(event.target).css("color","orange")
          $(event.target).unbind("click")
          $(event.target).click(unyay)
          $("#"+id+"_nay").css("color","black")
          $("#"+id+"_nay").unbind("click")
          $("#"+id+"_nay").click(nay)
          console.log(event.target)
          console.log(data)
          $("#"+id+"_points").text(data)
        },
    })
  }

  function unyay(event){

    id=$(event.target).attr("id").slice("_")[0]
    console.log("unyayed "+id);
    $.ajax({
        url:'{% url "blogs:unyay"%}',
        method : "GET",
        data : {
          "pk":id,
        },
        success : function(data){
          $(event.target).css("color","black")
          $(event.target).unbind("click")
          $(event.target).click(yay)
          console.log(event.target)
          console.log(data)
          $("#"+id+"_points").text(data)

        },
    })
  }

  function nay(event){

    id=$(event.target).attr("id").slice("_")[0]
    console.log("nayed "+id);
    $.ajax({
        url:'{% url "blogs:nay" %}',
        method : "GET",
        data : {
          "pk":id,
        },
        complete : function(data){
          console.log("in");
          $(event.target).css("color","blue")
          $(event.target).unbind("click")
          $(event.target).click(unnay)
          $("#"+id+"_yay").css("color","black")
          $("#"+id+"_yay").unbind("click")
          $("#"+id+"_yay").click(yay)
          console.log(event.target)
          console.log(data)
          $("#"+id+"_points").text(data.responseText)

        },
    })
  }

  function unnay(event){

    id=$(event.target).attr("id").slice("_")[0]
    console.log("unnayed "+id);
    $.ajax({
        url:'{% url "blogs:unnay" %}',
        method : "GET",
        data : {
          "pk":id,
        },
        success : function(data){
          $(event.target).css("color","black")
          $(event.target).unbind("click")
          $(event.target).click(nay)
          console.log(event.target)
          console.log(data)
          $("#"+id+"_points").text(data)


        },
    })
  }

</script>

<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

<div style="border-left:2px solid grey; margin-top:0px; margin-bottom:20px;" class="post-card card ">
  <div class="card-body">
    <span style="font-family: 'Open Sans', sans-serif; font-weight:bold; font-size:1.3em;"> {{blog.title}}</span>
<br>
  <a href="{% url 'categories:category_blogs' name=blog.category.name %}">
    {% if blog.author.uer.profile_pic %}
    <img style="width:30px; height:30px;   border-Radius:100%;"class="writer"src="{{blog.author.uer.profile_pic.url}}" alt="">
    {% else %}
    <img class="writer" src="{% static "css/uicon.png" %}" alt="">
    {% endif %}
    {{blog.category.name}}
  </a>

  <span style="font-family: 'Open Sans', sans-serif; font-weight:lighter; font-size:0.8em;">
    Posted by u/{{blog.author.username}} {{blog.time_written|timesince}}
  </span>

  <span style="float:right;font-size:1.4em;">

    <i  class="fas fa-grin-hearts" id="{{blog.id}}_yay"></i>

    {% if blog.id in yayed_blogs %}
    <script type="text/javascript">
      console.log("yayed");
      $("#{{blog.id}}_yay").css("color",'orange')
      $("#{{blog.id}}_yay").click(unyay)
    </script>
    {% else %}
    <script type="text/javascript">
      console.log("not yayed")
      $("#{{blog.id}}_yay").css("color",'black')
      $("#{{blog.id}}_yay").click(yay)
    </script>
    {% endif %}

    <span id="{{blog.id}}_points">{{blog.points}}</span>

     <i class="fas fa-sad-cry" id="{{blog.id}}_nay"></i>

     {% if blog.id in nayed_blogs %}
     <script type="text/javascript">
        console.log("nayed");
       $("#{{blog.id}}_nay").css("color","blue")
       $("#{{blog.id}}_nay").click(unnay)
     </script>
     {% else %}
     <script type="text/javascript">
        console.log("not nayed");
       $("#{{blog.id}}_nay").css("color","black")
       $("#{{blog.id}}_nay").click(nay)
     </script>
     {% endif %}

  </span>

  <br>
  <p>{{blog.content|safe|truncatechars_html:450}}</p>
  <a href="{% url 'blogs:details' pk=blog.pk %}" class="btn  btn-outline-secondary">see more</a>

  <span class="images">
    {% if blog.blog_images.count < 4 %}
    {% for image in blog.blog_images.all %}
    <img class="post-images"src="{{image.img.url}}" alt="no image">
    {% endfor %}
    {% else %}
    {% for image in blog.blog_images.all|slice:':3' %}
    <img class="post-images"src="{{image.img.url}}" alt="no image">
    {% endfor %}
    <img class="post-images" src="{% static "css/plus_3.jpg" %}" alt="">
    {% endif %}


  </span>
  </div>
</div>
