{% load static %}

{# AJAX #}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<div class="post-card card ">
  <div class="card-body">
  <a href="{% url 'categotries:category_blogs' name=blog.category.name %}">
    {% if blog.author.uer.profile_pic %}
    <img class="writer"src="{{blog.author.uer.profile_pic.url}}" alt="">
    {% else %}
    <img class="writer" src="{% static "css/uicon.png" %}" alt="">
    {% endif %}
    {{blog.category.name}}
  </a>
  <span class="postedby">
    Posted by u/{{blog.author.username}} {{blog.time_written|timesince}}
  </span>
  <span style="float:right;font-size:1.4em;">
    <i  class="fas fa-grin-hearts" id="{{blog.id}}_yay" onclick="yay(event)"></i>
    {% if blog.id in y_blogs %}
    <script type="text/javascript">
      $("#{{blog.id}}_yay").css("color",'orange')
    </script>
    {% endif %}
    {# {% for yay in user.yays.all %}
      {% if yay.yayed == blog %}
      <script type="text/javascript">
        $("#{{blog.id}}_yay").css("color",'orange')
      </script>
      {% endif %}
    {% endfor %} #}
      <span id="points-cout">{{blog.points}}</span>
     <i class="fas fa-sad-cry" id="{{blog.id}}_nay" onclick="nay(event)"></i>
     {% for nay in user.nays.all %}
       {% if nay.nayed == blog %}
       <script type="text/javascript">
         $("#{{blog.id}}_nay").css("color",'blue')
       </script>
       {% endif %}
     {% endfor %}
  </span>
  <h5>{{blog.title}}</h5>
  <br>
  <p>{{blog.content|safe|truncatechars_html:450}}</p>
  <a href="{% url 'blogs:details' pk=blog.pk %}" class="btn  btn-outline-secondary">see more</a>

  <span class="images">
    {% if blog.blog_images.count < 4 %}
    {% for image in blog.blog_images.all %}
    <img class="post-images"src="{{image.img.url}}" alt="no image">
    {% endfor %}
    {% else %}
    {% for image in blog.blog_images.all|slice:':3' %}
    <img class="post-images"src="{{image.img.url}}" alt="no image">
    {% endfor %}
    <img class="post-images" src="" alt="">
    {% endif %}


  </span>
  </div>
</div>

<script type="text/javascript">

  // yayBtn=$("#{{blog.id}}_yay")
  function yay(event){
    id={{blog.id}}
    console.log(id);
    $.ajax({
        url:'{% url "blogs:yay" pk=blog.id%}',
        datatype : "json",
        success : function(){
          $(event.target).css("color","orange")
        },
    })
  }

  function nay(event){
    console.log("in");
    id={{blog.id}}
    console.log(id);
    $.ajax({
        url:'{% url "blogs:nay" pk=blog.id %}',
        datatype : "json",
        success : function(){
          $(event.target).css("color","blue")
        },
    })
  }


</script>
