{% extends "blogs/blog_base.html" %}
{% block content %}
{% load static %}
<div class="container" style="margin-bottom:20px;">
  <div class="row">
    <div class="col-8">
      <div class="title my-5">
        <span class="blog_title">{{blog.title|capfirst}}</span>
        <span class="blog_time mx-5">Posted by {{blog.author.username}} at {{blog.time_written|date:"d M Y"}}</span>
        {% if user.is_authenticated and blog.author == user %}
        <span class="delete_blog"><a href="{% url 'blogs:delete' pk=blog.pk %}">
          <img src="{% static "css/delete.png" %}" alt=""></a>
        </span>
        {% endif %}

      </div>
      <div class="blog_content">
        {{blog.content|safe}}
      </div>
    </div>
    <div class="col-4">
      {% for image in blog.blog_images.all %}
      <div class="card my-5" style="width: 18rem;">
        <img src="{{image.img.url}}" class="card-img-top" alt="">
      </div>
      {% endfor %}
    </div>
  </div>



  <form action="http://127.0.0.1/U-Blogging-website/web_project/php/comments/addcomment.php" method="post" >
    <input type="text" name="blog" value="{{blog.pk}}" hidden>
    <input type="text" name="user" value="{{user.username}}" hidden>

    <div class="form-group">
      <label for="exampleFormControlTextarea1">comment:</label>
      <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="col-sm-10">
    <button  onclick="addcomment(this)" type="submit" class="btn btn-primary">add</button>
  </div>
  </form>





  <div class="row" >
    <div class="col-12">
      {% for comment in blog.blog_comments.all %}
        <div class="comment p-3 m-3" style="background:rgb(230, 230, 230);">
          {% if comment.author.uer.profile_pic.url %}
          <span class="writer_picture mr-5"> <img class="writer" src="{{comment.author.uer.profile_pic.url}}" alt=""> </span>
          {% else %}
          <span class="writer_picture mr-5"> <img class="writer" src="{% static "css/uicon.png" %}" alt=""> </span>
          {% endif %}
          <span class="writer_name ml-5">{{comment.author.username}}</span>
          <p ="comment_content">{{comment.content}}</p>
        </div>
      {% endfor %}
  </div>

</div>

{% endblock %}
