{% extends "blogs/blog_base.html" %}

{% load static %}

{% block color %}
  <link rel="stylesheet" href="{% static "css/white.css" %}">
{% endblock %}

{% block content %}

<div class="container">

  <form enctype="multipart/form-data" action="/blogs/createblog/" method="post">
    {% csrf_token %}

    <div class="mt-5">
      <label for="{{form.category.id_for_label}}">Category</label>
      {{form.category}}
    </div>

    <input type="text" name="title" maxlength="255" placeholder="Title" title=""
     id="id_title" class="blogtitle p-2 d-block mt-3 mb-2 textinputclass" required>

    <textarea name="content" id='id_text' placeholder="Content" title="" required=""
    id="id_content" style=" height: 500px; " cols="30"
    class="editable2 medium-editor-textarea p-3 blogcontent"
     rows="16" required>
  </textarea>
  <div class="images my-5">

    <div id="pics" class="row">
    <div class="row">
      <div class="col-3">

        <label id="img2" for="img1" class="imageupload_label p-4 mb-3"> <img src="{% static 'css/plus-button-md.png' %}" alt=""> </label>
        <input type="file" onchange="readURL(this);" accept="image/*" class="imageupload" name='image' id="img1" value="">
        <img id="blah" src="#" alt="your image" style="display:none;"/>

      </div>
    </div>

  </div>

    <input type="submit" value="Post" class="btn btn-primary mb-5 btn-lg d-block">
  </form>

  <script>var editor = new MediumEditor('.editable2',{toolbar: {
      buttons: ['bold', 'italic', 'quote','image'],
      diffLeft: 25,
      diffTop: 10,
  },
  });</script>

</div>
<script type="text/javascript">
  function makeid(length) {
     var result           = '';
     var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
     var charactersLength = characters.length;
     for ( var i = 0; i < length; i++ ) {
        result += characters.charAt(Math.floor(Math.random() * charactersLength));
     }
     return result;
  }
  function readURL(input) {
       if (input.files && input.files[0]) {
           var reader = new FileReader();
           reader.onload = function (e) {
               $('#blah')
                   .attr('src', e.target.result)
                   .width(150)
                   .height(200);
                    $('#blah').css("display","block");
                    $('#img2').css("display","none");
                    $('#img2').attr("id",makeid(5) )
                              .attr("name",makeid(5) );
                    $('#blah').attr("id",makeid(5) );
                    $('#img1').attr("id",makeid(5) )
                              .attr("name",makeid(5) );
                    $('#pics').append(' <div class="col-3"> <label id="img2" for="img1" class="imageupload_label p-4 mb-3"> <img src="{% static "css/plus-button-md.png" %}" alt=""> </label><input type="file"  onchange="readURL(this);" accept="image/*" class="imageupload" name="image" id="img1" value="" > <img id="blah" src="#" alt="your image" style="display:none;"/> </div>');
           };
           reader.readAsDataURL(input.files[0]);
       }
   }
</script>

{% endblock %}
