{% extends "blogs/blog_base.html" %}
{% load static %}

{% block color %}
  <link rel="stylesheet" href="{% static "css/white.css" %}">
{% endblock %}

{% block content %}

<div class="container">
  {% if user.is_authenticated and user == blog.author %}
  <div class="row">
    <div class="col-8">
      <form class="mt-3" enctype="multipart/form-data" method="post">
        {% csrf_token %}


        <input type="text" name="title" maxlength="255" placeholder="Title" title=""
         id="id_title" class="blogtitle p-2 d-block mt-3 mb-2 textinputclass" value="{{blog.title}}">

        <textarea name="content" id='id_text' placeholder="Content" title="" required=""
        id="id_content" cols="30"
        class="editable2 medium-editor-textarea p-3 blogcontent"
         rows="16"> {{blog.content|safe}}
      </textarea>
      <div class="images my-5 card-deck">
        <div id="pics" class="row">
          {% for img in blog.blog_images.all %}
          <div class="col-3">
            <img src="{{img.img.url}}" class="card-img-top" alt="">
          </div>
          {% endfor %}

          <div class="col-3">
              <label id="img2" for="img1" class="imageupload_label p-4 mb-3"> <img src="{% static 'css/plus-button-md.png' %}" alt=""> </label>
              <input type="file" accept="image/*" onchange="readURL(this)"  class="imageupload" name='image' id="img1" value="">
              <img id="blah" src="#" alt="your image" style="display:none;"/>
          </div>


      </div>
    </div>
    <input type="submit" value="Edit" class="btn btn-primary mb-5 btn-lg d-block">
  </form>

  </div>
  <div class="col-2">
    <div class="card mt-5" style="width: 18rem;">
      {% if  blog.category.pic %}
        <img src="{{blog.category.pic.url}}" class="card-img-top" alt="">
      {% else %}
        <img src="{% static "css/uicon.png" %}" class="card-img-top" alt="">
      {% endif %}

      <div class="card-body">
        <p class="card-text" align="center">{{blog.category.name}}</p>
      </div>
    </div>
  </div>
</div>
{% else %}
  <h2 class="user_not_found text-center mt-5">You have to be logged in as {{blog.author.username}} to access this page</h2>
{% endif %}
<script>var editor = new MediumEditor('.editable2',{toolbar: {
    buttons: ['bold', 'italic', 'quote','underline','strikethrough','html'],
    diffLeft: 25,
    diffTop: 10,
},
});</script>


<script type="text/javascript">

    function makeid(length) {
       var result           = '';
       var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
       var charactersLength = characters.length;
       for ( var i = 0; i < length; i++ ) {
          result += characters.charAt(Math.floor(Math.random() * charactersLength));
       }
       return result;
    }

  function readURL(input) {
       if (input.files && input.files[0]) {
           var reader = new FileReader();
           reader.onload = function (e) {
               $('#blah')
                   .attr('src', e.target.result)
                   .width(150)
                   .height(200);

                    $('#blah').css("display","block");
                    $('#img2').css("display","none");

                    $('#blah').attr("id",makeid(5) );

                    $('#img2').attr("id",makeid(5) )
                              .attr("name",makeid(5) );

                              $('#img1').attr("id",makeid(5) )
                                        .attr("name",makeid(5) );



                    $('#pics').append(' <div class="col-3"> <label id="img2" for="img1" class="imageupload_label p-4 mb-3"> <img src="{% static "css/plus-button-md.png" %}" alt=""> </label><input type="file"   oninput="addUploadTag()" onchange="readURL(this);" accept="image/*" class="imageupload" name="image" id="img1" value="" > <img id="blah" src="#" alt="your image" style="display:none;"/> </div>');
           };
           reader.readAsDataURL(input.files[0]);
       }

   }

</script>

{% endblock %}
