{% extends "blogs/blog_base.html" %}
{% load static %}
{# <link rel="stylesheet" href="{% static "css/home.css" %}"> #}
{% block color %}
  <link rel="stylesheet" href="{% static "css/grey.css" %}">
{% endblock %}

{% block content %}

<body style="background-color:rgb(230,230,230)">

<div class="container">
  <div class="row">
    {% for blog in trending|slice:':4'  %}
    <div class="col-md-3">
    <div class="mycard card" style="width: 100%; height:22vh; ">
      <div class="card-body">
        <h5 class="card-title" style="font-size:1em;">{{blog.title|truncatechars_html:28}}</h5>
        <h6 class="card-subtitle mb-2" style="font-size:0.7em;opacity:0.7;" >{{blog.time_written|timesince}}</h6>
        <p style="font-size:0.7em;" class="card-text">{{blog.content|striptags|safe|truncatechars_html:60}}</p>

      </div>
      <a style="  margin-left:20px;margin-bottom:20px; color:white; "href="{% url 'blogs:details' pk=blog.pk %}" class="card-link">See more</a>

    </div>
    </div>
    {% endfor %}
 </div>
</div>




<div class="container">
 <div class="row">

  <div class="col-md-8 col-sm-12 "style="margin-top:3vh;">

    {% for blog in blog_list %}
      {% include "blogs/_blog.html" %}
    {% endfor %}

  </div>

<div class="col-md-4 col-sm-0" >
  <div class="" style="margin-top:3vh;" id="userspace" >

    <div class="card" style="height: 60vh; width:18rem">
      <div class="card-body">
        {% if user.uer.profile_pic %}

        <img src="{{user.uer.profile_pic.url}}" class="userimage my-3" alt="">
        {% else %}
        <img src="{% static "css/uicon.png" %}" class="userimage my-3" alt="">
        {% endif %}
        <h5 class="card-title" style="text-align:center;">{{user.first_name}} {{user.last_name}}</h5>
        <br>

        <h5  style="text-align:center;" >BIO</h5>
        <p class="card-text">{{user.uer.bio}}</p>

        <h5  style="text-align:center;" >Joined At</h5>
        <p class="card-text" style="text-align:center;">{{user.date_joined|date:"d b Y"}}</p>

        <a href="{% url 'blogs:uerblogs' username=user.username %}" class="btn btn-primary mr-5">Blogs</a>
        <a href="{% url 'accounts:update' pk=user.id %}" class="btn btn-dark">Settings</a>
      </div>
</div>
</div>

</div>

</div>
</div>


<script type="text/javascript">

window.onscroll = function() {myFunction()};

var header = document.getElementById("userspace");
var sticky = header.offsetTop;

function myFunction() {
  if (window.pageYOffset > 400) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}


</script>
</body>

{% endblock %}
